logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
